.footer {
    border-top: solid 3px #D9D9D9;
    padding: 50px 0;
}

.footer__wrap {
    font-family: 'Homenaje';
    letter-spacing: 5px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}

.footer__flex li {
    margin-bottom: 12px;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__right-side {
    text-align: right;
}

.footer__rights {
    text-align: center;
}


@media (max-width: 767px) {
    .footer__flex {
        display: block;
    }

    .footer__left-side {
        margin-bottom: 20px;
    }

    .footer__right-side {
        text-align: left;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 50px 15px;
    }
    
    @media (max-width: 320px) {
        .footer {
            font-size: 15px;
        }
    }